#root .App .materi-page {
  padding-bottom: 1.5em;
}

#root .App .materi-page-title {
  padding: 0.5em 0;
}

#root .App .materi-page-title .materi-page-title-btn {
  border-radius: 0;
  padding: 0;
  padding-right: 10px;
  text-decoration: none;
}

#root .App .materi-page-title .materi-page-title-btn-txt {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

#root .App .materi-page form {
  width: 100%;
  display: flex;
}

#root .App .materi-page .materi-page-btn-field .materi-page-icon-btn {
  color: black;
  border-radius: 4px;
  padding: 0;
}

#root .App .materi-page .materi-page-card {
  background-color: #fff;
  padding-bottom: 0.3em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  border: none;
}

#root .App .materi-page .materi-page-card .materi-page-card-img {
  background-color: #333;
  border-radius: 5px;
}

#root .App .materi-page .materi-page-card .materi-page-card-content {
  padding: 0.33em 0;
  padding-right: 0.7em;
  /* padding-top: 0.3em; */
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-title {
  text-decoration: none;
  color: #000;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-rating {
  display: flex;
  margin: 0.33em 0;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-rating
  p {
  font-size: 0.8em;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-rating
  .materi-page-card-content-rating-value {
  font-size: 1em;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-price {
  color: #000;
  margin-bottom: 0.33em;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-info
  span {
  border-radius: 3px;
  padding: 0.15em 0.7em;
  color: #333;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-info
  .terlaris {
  background-color: #ffcc66;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-info
  .free {
  background-color: #00e6b8;
}

#root
  .App
  .materi-page
  .materi-page-card
  .materi-page-card-content
  .materi-page-card-content-info
  .terpopuler-dan-baru {
  background-color: #ff99ff;
}

@media (max-width: 599px) {
  #root .App .materi-page .materi-page-card {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
}
