#root .App .detail-page {
  padding-bottom: 1.5em;
}

#root .App .detail-page-title {
  padding: 0.5em 0;
}

#root .App .detail-page-title .detail-page-title-btn {
  border-radius: 0;
  padding: 0;
  padding-right: 10px;
  text-decoration: none;
}

#root .App .detail-page-title .detail-page-title-btn-txt {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

#root .App .detail-page form {
  width: 100%;
  display: flex;
}

#root .App .detail-page .detail-page-btn-field .detail-page-icon-btn {
  color: black;
  border-radius: 4px;
  padding: 0;
}

#root .App .detail-page .detail-page-card {
  /* background-color: orange; */
  margin-top: 1em;
  margin-bottom: 0.3em;
  border: none;
}

#root .App .detail-page .detail-page-card .detail-page-card-img {
  background-color: #333;
  border-radius: 5px;
}

#root .App .detail-page .detail-page-card .detail-page-card-content {
  padding: 0.5em 0.7em;
  /* background-color: red; */
  /* padding-top: 0.3em; */
}

#root
  .App
  .detail-page
  .detail-page-card
  .detail-page-card-content
  .detail-page-card-content-title {
  text-decoration: none;
  color: #000;
}

#root
  .App
  .detail-page
  .detail-page-card
  .detail-page-card-content
  .detail-page-card-content-rating {
  display: flex;
  margin: 0.33em 0;
}

#root
  .App
  .detail-page
  .detail-page-card
  .detail-page-card-content
  .detail-page-card-content-rating
  p {
  font-size: 0.8em;
}

#root
  .App
  .detail-page
  .detail-page-card
  .detail-page-card-content
  .detail-page-card-content-rating
  .detail-page-card-content-rating-value {
  font-size: 1em;
}

#root
  .App
  .detail-page
  .detail-page-card
  .detail-page-card-content
  .detail-page-card-content-price {
  color: #000;
  margin-bottom: 0.33em;
}
